<!-- Header content here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HealthyHaevest</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/products">Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/news">News</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/careers">Careers</a></li>
      </ul>
    </div>
  </nav>
  